
#informacion{
  background-color: rgba(236, 162, 104, 0.7);
 border-radius: 5px;
 color: #FFF;
}

div #informacion{
  padding: 300px 75px 75px 15px;
}

section{
  border-radius: 10px;

}
/* FOOTER */
footer{
  background-color: #562C2C;
}
footer div.footer-copyright{
  color: #E56B6F;
  background-color: #462323;
}
/* LOGOS FOOTER */
i{
  color: #E56B6F;
}
#contacto12{
  border-radius: 5px;
    background-color: #FFD639;
    height: 90px;
}
/* ENLACES */
a{
  text-transform: uppercase;
  font-weight: bold;
  color: #127475;
}
