
#pregunta1{
color: #FFFF;
font-family: 'Hind', sans-serif;
text-decoration: none;
}
#pregunta2{
  color: #FFFF;
  font-family: 'Hind', sans-serif;
  text-decoration: none;
}
#pregunta3{
  color: #FFFF;
  font-family: 'Hind', sans-serif;
  text-decoration: none;
}
#pregunta4{
  color: #FFFF;
  font-family: 'Hind', sans-serif;
  text-decoration: none;
}
#pregunta5{
  color: #FFFF;
  font-family: 'Hind', sans-serif;
  text-decoration: none;
}
#pregunta6{
  color: #FFFF;
  font-family: 'Hind', sans-serif;
  text-decoration: none;
}
#headingOne{
background-color: #E16A0D;
}
#headingTwo{
background-color: #E57D2B;
}
#headingThree{
background-color: #E88F4A;
}
#headingFour{
background-color: #ECA268;
}
#headingFive{
background-color: #F0B486;
}
#headingSix{
background-color: #F4C7A4;
}
*{
  font-family: 'Poppins', sans-serif;
}
body{
background-color: #F5DFBB;
}
form{
  padding: 10px;
}
/* TITULOS */
h1.col-md-12{
  padding: 2vh;
  color: #127475;
  margin-bottom: 0px;
  background-color: #462323;
}
h5.col-md-12{
  padding: 2vh;
  color: #E56B6F;
  background-color: #562C2C;
}
/* COLOR BOTONES */
.btn-outline-dark{
  color: #FFFF;
  background-color: #E56B6F;
  border-color: #E56B6F;
}
.btn-outline-dark:hover{
  background-color: #BD575A;
  border-color: #BD575A;
}

a:hover{
  text-decoration: none;
}


/* CARRUSEL */
.carousel-inner{
  height: 60vh;
}
/* FOOTER */
footer{
  background-color: #562C2C;
}
footer div.footer-copyright{
  color: #E56B6F;
  background-color: #462323;
}
/* LOGOS FOOTER */
footer i{
  color: #E56B6F;
}
/* ENLACES */
a{
  color: #127475;
}
#botonhead{
  background-color: #562C2C;
}
#titulo{

}
