/* CARRUSEL */
.carousel-inner{
  height: 60vh;
}
/* FOOTER */
footer{
  background-color: #562C2C;
}
footer div.footer-copyright{
  color: #E56B6F;
  background-color: #462323;
}
#producto12{
  border-radius: 5px;
    background-color: #FFD639;
}
#foto12{
  border-radius: 10px;
}
section .titulo{
  border-radius: 30px;
  background-color: #FFD639;
}
body{
  background-image: url("../fondo.jpeg");
}
/* ENLACES */
a{
  color: #127475;
}
/* LOGOS FOOTER */
i{
  color: #E56B6F;
}
.foo{
  border-radius: 30px;
  background-color: #FFD639;
}


/* IMAGENES */

/* TITULO MENU */

.row{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 2vh;
}
