.container{
  width: 600px;
  padding-right: 15px;
padding-left: 15px;
}
#producto12 {
background-color: #FFD639;
border-radius: 20px;
flex-wrap: wrap;
}
#imagen12{
  border-radius: 10px;
  display: inline-block;
  flex-wrap: wrap;
}
